<link rel="stylesheet" href="//intra.sapo.pt/static/content/css/ink-flex.min.css">
<link rel="stylesheet" href="//intra.sapo.pt/static/content/css/symbol-font.min.css">
<link rel="stylesheet" href="//intra.sapo.pt/static/content/css/font-awesome.min.css">
<link rel="stylesheet" href="//intra.sapo.pt/static/content/css/pink.min.css">
<link rel="stylesheet" href="//intra.sapo.pt/static/content/css/topbar.min.css">
<style>#gitlabApp>header.navbar-static-top {z-index: 0;}</style>
