<!-- ko module: {name: 'IntraBar', data: {intraBaseDomain: 'https://intra.sapo.pt', mainContentId: 'gitlabApp'}} --><!-- /ko -->
%script{:type => "text/javascript", :src => "//intra.sapo.pt/static/libs/ink-all.js"}
%script{:type => "text/javascript", :src => "//intra.sapo.pt/static/libs/pink.min.js"}
%script{:type => "text/javascript", :src => "//intra.sapo.pt/static/libs/pink-tpl-bundle.js"}
%script{:type => "text/javascript", :src => "//intra.sapo.pt/intrabar/translations"}
%script{:type => "text/javascript", :src => "//intra.sapo.pt/static/intrabar-bundle.min.js"}
:javascript
  initIntraBar();
